/target
/.m2


/.classpath
/.project
/.settings
/.factorypath
/.bluemix
/.cfignore
/.dockerignore
/.ibm-project

/caches
/local.properties
.*.swp
.DS_Store

src/main/resources/localdev-config.json
/.apt_generated/
/bin/
.gradle/
build/
.vscode

chart/**/charts