<server description="Sample Liberty server">

    <featureManager>
        <feature>microprofile-1.3</feature>
        <feature>usr:opentracingZipkin-0.30</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*"/>

    <!-- Disable metrics authentication to use with prometheus --> 
    <mpMetrics authentication="false"/>
    
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <opentracingZipkin host="${env.zipkinHost}" port="${env.zipkinPort}"/>

    <webApplication name="orders" location="${app.location}">
        <!-- enable visibility to third party apis -->
        <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party"/>
    </webApplication>

    <!--These values are defined in pom.xml-->
    <mpJwt
       id="${env.jwtid}"
       jwksUri="${env.jwksUri}"
       issuer="${env.jwksIssuer}">
    </mpJwt>

    <!--Credentials necessary to authorize user-->
    <administrator-role>
        <user-access-id>${env.administratorRealm}</user-access-id>
    </administrator-role>

    <ssl id="defaultSSLConfig" keyStoreRef="bcKeyStore" trustStoreRef="bcTrustStore"/>
    <keyStore id="bcKeyStore" location="/etc/keystorevol/BCKeyStoreFile.jks" type="JKS" password="password"/>
    <keyStore id="bcTrustStore" location="/etc/keystorevol/truststore.jks" type="JKS" password="password"/>


</server>
