<server description="Sample Liberty server">

    <featureManager>
        <feature>microprofile-1.2</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <webApplication name="orders" location="${app.location}"/>

    <!--These values are defined in pom.xml-->
    <mpJwt id="${jwt.id}" jwksUri="${jwksUri}" issuer="${jwksIssuer}"/>

    <ssl id="defaultSSLConfig" keyStoreRef="bcKeyStore" trustStoreRef="bcTrustStore"/>
    <keyStore id="bcKeyStore" location="/etc/keystorevol/BCKeyStoreFile.jks" type="JKS" password="password"/>
    <keyStore id="bcTrustStore" location="/etc/keystorevol/truststore.jks" type="JKS" password="password"/>

</server>
