<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>JavaOrdersAPI</display-name>
	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/micro/*</url-pattern>
	</servlet-mapping>
	
  <persistence-context-ref>
    <persistence-context-ref-name>openjpa-order/entitymanager</persistence-context-ref-name>
    <persistence-unit-name>openjpa-order</persistence-unit-name>
  </persistence-context-ref>

  <resource-ref>
    <!-- The cloudAutowiring-1.0 Liberty feature will resolve this to whatever 
         the database service name is -->
    <!-- When running locally without this feature, create a datasource with 
         the JNDI name "jdbc/mydbdatasource" in server.xml -->
    <!-- If using MySQL locally then use the "url" property and append "?relaxAutoCommit=true", for example: 
         <dataSource id='mysql-datasource' jdbcDriverRef='mysql-driver' jndiName='jdbc/mydbdatasource'> 
         <properties user='root' password='password' url="jdbc:mysql://localhost:3306/db?relaxAutoCommit=true"/> 
         </dataSource> -->
    <res-ref-name>jdbc/mydbdatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref>
      <description />
      <res-ref-name>jms/mqLightService</res-ref-name>
      <res-type>javax.jms.ConnectionFactory</res-type>
      <res-auth>Container</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>
